# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore test database
instance/test.db
instance/temp-database.db
instance/*

# Ignore VS Code settings (optional)
#.vscode/

# Ignore environment files (optional)
.env
instance/temp-database.db
